<%= form_for(@first_model) do |f| %>
  <% if @first_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first_model.errors.count, "error") %> prohibited this first_model from being saved:</h2>

      <ul>
      <% @first_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :foo %><br>
    <%= f.text_field :foo %>
  </div>
  <div class="field">
    <%= f.label :bar %><br>
    <%= f.text_field :bar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
