<p id="notice"><%= notice %></p>

<h1>Listing First Models</h1>

<table>
  <thead>
    <tr>
      <th>Foo</th>
      <th>Bar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_models.each do |first_model| %>
      <tr>
        <td><%= first_model.foo %></td>
        <td><%= first_model.bar %></td>
        <td><%= link_to 'Show', first_model %></td>
        <td><%= link_to 'Edit', edit_first_model_path(first_model) %></td>
        <td><%= link_to 'Destroy', first_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New First model', new_first_model_path %>
