<p id="notice"><%= notice %></p>

<p>
  <strong>Foo:</strong>
  <%= @first_model.foo %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @first_model.bar %>
</p>

<%= link_to 'Edit', edit_first_model_path(@first_model) %> |
<%= link_to 'Back', first_models_path %>
